[Unit]
Description=chezmoi
ConditionPathExists=!%h/.config/lynx/chezmoi

[Service]
ExecStart=mkdir -p %h/.config/lynx/chezmoi
ExecStart=touch %h/.config/zirconium/chezmoi/chezmoi.toml
ExecStart=chezmoi apply -S /usr/share/lynx/lynx-dots --config %h/.config/lynx/chezmoi/chezmoi.toml
Type=oneshot

[Install]
WantedBy=default.target 
